@import '~sass-mq';

$main-color: #272839 !important;
$second-color: white !important;
$third-color: #f4f4f8 !important;

$first-font-color: #272839 !important;
$second-font-color: white !important;
$third-font-color: #818294 !important;

$font-size-one: 8rem !important;
$font-size-two: 7rem !important;
$font-size-three: 6rem !important;
$font-size-four: 5rem !important;
$font-size-five: 4rem !important;
$font-size-six: 3rem !important;
$font-size-seven: 2rem !important;
$font-size-eight: 1.2rem !important;
$font-size-nine: 1.8rem !important;
$font-size-ten: 1.5rem !important;
$font-size-eleven: 1.4rem !important;
$font-size-twelve: 1.25rem !important;
$font-size-thirteen: 1.05rem !important;
$font-size-fourteen: 1rem !important;
$font-size-fifteen: 0.8rem !important;

$mq-responsive: true;
$mq-static-breakpoint: desktop;
$mq-breakpoints: (
  navbar-min-width:  1080px,
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px
);