.cardInfoInformation {
    border-radius: 15px !important;
    opacity: 0.9;
}

.cardInfoContacts {
    border: none !important;
    background-color: inherit !important;
    color: inherit !important;
}