@import "global";

%mqContent {
    margin: 200px 32px 200px 32px;
    transition: 0.5s linear;
    @include mq($from: xs) {
        margin: 200px 32px 200px 32px;
    }
    @include mq($from: sm) {
        margin: 200px 32px 200px 32px;
    }
    @include mq($from: md) {
        margin: 200px 32px 200px 32px;
    }
    @include mq($from: lg) {
        margin: 200px 32px 200px 32px;
    }
    @include mq($from: xl) {
        margin: 200px 130px 200px 130px;
    }
    @include mq($from: xxl) {
        margin: 200px 250px 200px 250px;
    }
}

%mqContentFooter {
    margin: 50px 32px 50px 50px;
    transition: 0.5s linear;
    @include mq($from: xs) {
        margin: 50px 32px 50px 32px;
    }
    @include mq($from: sm) {
        margin: 50px 32px 50px 32px;
    }
    @include mq($from: md) {
        margin: 50px 32px 50px 32px;
    }
    @include mq($from: lg) {
        margin: 50px 32px 50px 32px;
    }
    @include mq($from: xl) {
        margin: 50px 130px 50px 130px;
    }
    @include mq($from: xxl) {
        margin: 50px 250px 50px 250px;
    }
}

.contentBanner {
    background-image: url("../assets/images/banner.png");
    background-size: cover;
    height: auto;
    color: $second-font-color
}

.contentInfoBanner {
    height: auto;
    @extend %mqContent;
}

.contentInformation {
    background-color: $second-color;
    background-size: cover;
    height: auto;
    color: $first-font-color;
}

.contentInfoInformation {
    height: inherit;
    display: inline-flex;
    @extend %mqContent;
}

.contentStudies {
    background-color: $third-color;
    background-size: cover;
    height: auto;
    color: $first-font-color;
}

.contentInfoStudies {
    height: auto;
    @extend %mqContent;
}

.contentJobs {
    background-color: $second-color;
    background-size: cover;
    height: auto;
    color: $first-font-color;
}

.contentInfoJobs {
    height: auto;
    @extend %mqContent;
}

.contentSkills {
    background-color: $third-color;
    background-size: cover;
    height: auto;
    color: $first-font-color;
}

.contentInfoSkills {
    height: auto;
    @extend %mqContent;
}

.contentProjects {
    background-color: $second-color;
    background-size: cover;
    height: auto;
    color: $first-font-color;
}

.contentInfoProjects {
    height: auto;
    @extend %mqContent;
}

.contentContacts {
    background-color: $main-color;
    background-size: cover;
    height: auto;
    color: $second-font-color;
}

.contentInfoContacts {
    height: auto;
    @extend %mqContentFooter;
}